<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	
    package="com.yanbober.support_library_demo" >
	<uses-permission android:name="android.permission.SEND_SMS" /> 
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<!--在sdcard中创建/删除文件的权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" ></uses-permission>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	
	
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yanbober.support_library_demo.MainActivity"
            android:label="工匠若水" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".Message_c"
            android:label="King arthur"></activity>
		<activity android:name=".Paid_Video"
            android:label="knight of Lancelot"></activity>
		<activity android:name=".Collect_"
            android:label="knight of Lancelot"></activity>
		<activity android:name=".Balance_"
            android:label="knight of gawaine"></activity>
		<activity android:name=".My_Video_"
            android:label="knight of geraint"></activity>
		<activity android:name=".Setting_"
            android:label="knight of gareth"></activity>
		<activity android:name=".Modify_Name_"
            android:label="knight of galahad"></activity>
		<activity android:name=".Modify_Password_"
            android:label="knight of gaheris"></activity>
		<activity android:name=".Set_Pay_pwd_"
            android:label="knight of bors de ganis"></activity>
		<activity android:name=".Pay_Complete_"
            android:label="knight of bedivere"></activity>
		<activity android:name=".Personal_"
            android:label="knight of kay"></activity>
		<activity android:name=".Run_Video_"
            android:label="knight of Lamorak"></activity>
		
			
        <activity android:name=".SubActivity"
            android:label="工匠若水详情"></activity>
		<activity android:name=".Home"/>
		<activity
            android:name=".MenuWithFABActivity"
            android:label="null"
            android:parentActivityName=".DemoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oguzdev.circularfloatingactionmenu.samples.DemoActivity" />
        </activity>
		<service
            android:name=".SystemOverlayMenuService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
