<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	
    package="com.yanbober.support_library_demo" >
	<uses-permission android:name="android.permission.SEND_SMS" /> 
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<!-- 访问互联网权限 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<!--在sdcard中创建/删除文件的权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

	<uses-permission android:name="android.permission.READ_PHONE_STATE" ></uses-permission>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.RECORD_VIDEO" />


	<application
		android:allowBackup="true"
		android:icon="@drawable/official"
		android:label="180s"
		android:name="com.yanbober.support_library_demo.Custom.appLication_"
		xmlns:tools="http://schemas.android.com/tools"
		tools:replace="android:name,icon,label"
		android:theme="@style/AppTheme" >
		<!--由于可能出现重复的设置项，所以申明这行代码，否则会合并失败-->

		<activity
			android:name="com.yanbober.support_library_demo.MainActivity"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Message_c"
			android:label="King arthur"></activity>
		<activity android:name=".Paid_Video"
			android:label="knight of Lancelot"></activity>
		<activity android:name=".Collect_"
			android:label="knight of Lancelot"></activity>
		<activity android:name=".Balance_"
			android:label="knight of gawaine"></activity>
		<activity android:name=".My_Video_"
			android:label="knight of geraint"></activity>
		<activity android:name=".Setting_"
			android:label="knight of gareth"></activity>
		<activity android:name=".Modify_Name_"
			android:label="knight of galahad"></activity>
		<activity android:name=".Modify_Password_"
			android:label="knight of gaheris"></activity>
		<activity android:name=".Set_Pay_pwd_"
			android:label="knight of bors de ganis"></activity>
		<activity android:name=".Pay_Complete_"
			android:label="knight of bedivere"></activity>
		<activity android:name=".Personal_"
			android:label="knight of kay"></activity>
		<activity android:name=".Run_Video_"
			android:label="knight of Lamorak"></activity>
		<activity android:name=".Round_Video_"
			android:label="knight of Percivale"></activity>
		<activity android:name=".Login_"
			android:label="knight of Tristan"></activity>
		<activity android:name=".Send_random_"
			android:label="knight of Dagonet"
			android:windowSoftInputMode="stateAlwaysVisible|adjustResize"></activity>
		<activity android:name=".Register_sucess_Message_"
			android:label="knight of Mordred"></activity>
		<activity android:name=".Register_"
			android:label="knight of Ector"
			android:windowSoftInputMode="stateAlwaysVisible|adjustResize"></activity>
		<activity android:name="com.yanbober.support_library_demo.Custom.ResultActivity"
			android:label="knight of Ector"></activity>
		<activity android:name=".SimpleActivity"
			android:label="knight of Ector"></activity>


			</application>

</manifest>
